.form-control{
    width: 30%;
    font-size: 20px !important;
    padding: 30px !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;

}
.option{
    color: white !important;
    border-radius: 6px !important;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}